
.result1 {
  border: 2px solid rgb(86, 165, 49);
  background-color: rgb(206, 224, 204);
  padding: 10px;
  margin: 10px auto; /* Establece los márgenes horizontales en "auto" */
  height: 45px;
  width: 250px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.result2 {
  border: 2px solid rgb(208, 162, 11);
  background-color: rgb(243, 225, 204);
  padding: 10px;
  margin: 10px auto; /* Establece los márgenes horizontales en "auto" */
  height: 45px;
  width: 250px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}
.result-box {

  text-align: center; /* Centra el contenido horizontalmente */
}

#borrar {
  text-indent: 0px;
  width: 100px; /* Ajusta el ancho del botón según tus preferencias */
  height: 40px; /* Ajusta el alto del botón según tus preferencias */
  border-radius: 5px; /* Puedes ajustar el valor para obtener bordes más redondeados o menos redondeados */
  background-color: rgb(253, 100, 100);
  border: 2px solid rgb(255, 0, 0);
  font-family: sans-serif;
  font-size: 20px;
  color: white;
}




#map {
  margin: 0 auto;
  height: 450px;
  width: 1200px;
  display: flex;
  justify-content: center;
  border: 3px solid black;
  padding: 10px;
}

.title {
  font-size: 36px; /* Tamaño de fuente */
  font-weight: bold; /* Grosor de fuente */
  color: #2c84c7; /* Color de fuente */
  text-align: center; /* Centrar el texto horizontalmente */
  margin-top: 20px; /* Agregar margen superior para separarlo del borde superior de la página */
  text-shadow: 2px 2px 2px #ccc; /* Agregar sombra de texto para un efecto bonito */
  text-decoration: underline;
}


.subtitle1 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(86, 165, 49);
  text-decoration: underline;
}

.subtitle2 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(208, 162, 11);
  text-decoration: underline;
}

.bg-clouds {
  background-image: url("https://img3.wallspic.com/crops/0/9/6/2690/2690-nube-la_atmosfera_de_la_tierra-aviacion-vuelo-los_viajes_aereos-1920x1200.jpg");
  background-repeat: repeat;
  background-size: 100%;
  background-color: #a3b4dc;
}




.container-fluid {
  position: relative;
}

.container-fluid2 {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 95%;
  height: 95%;
  background-color: rgba(255, 255, 255, 0.6); /* traslúcido */
  z-index: 9999; /* para asegurarse de que el cuadro esté en la parte superior */
}


.rowb {
  margin-bottom: 20px;
}

.custom-margin {
  margin-bottom: 10px; /* Puedes ajustar el valor según tus necesidades */
}
